# Neovim
# ------

# Swap files
*.swp
*.swo
*.swn

# Backup files
*~

# Undo history files
.undodir/
undodir/

# Session files
Session.vim

# Log files
*.log
*.lsp.log

# Plugin manager files & directories
# (You may need to adjust this depending on your plugin manager)

# lazy.nvim
# lazy-lock.json # Uncomment if you want to ignore lazy-lock.json

# packer.nvim
packer_compiled.lua

# vim-plug
plugged/

# Vim packages
pack/

# Local viminfo
.viminfo
