[user]
  email = andrew@speirs.dev
  name = Andrew Speirs

[core]
  editor = nvim

[init]
  defaultBranch = main

[diff]
  tool = imagediff
[difftool "imagediff"]
  cmd = LOCAL=\"$LOCAL\" REMOTE=\"$REMOTE\" zsh -ic 'image-diff "$LOCAL" "$REMOTE"'

[include]
  path = ~/.gitconfig.local
